*{
    box-sizing: border-box;
}

p{
    color: palegreen;
}
h1{
    color: palevioletred;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 35px;
    font-size: 46px;

}

header{
    background-color: bisque;
}